<h1>Product Name: <%= @product.title%></h1>
<p>Description: <%= @product.description%></p>
<p>Price: <%= @product.price %></p>
<p>Sales Price: <%= @product.sales_price%></p>
<p>created at: <%= @product.created_at%></p>

<p><%= @product.favourites.count %> favourites</p>
<% if can?(:favourite, @product)%>
    <% if @product.favourites.find_by(user: current_user).present? %>
        <%= link_to "ðŸ’”Un-favouriteðŸ’”", product_favourite_path(@product, @product.favourites.find_by(user: current_user)), method: :delete %>
    <% else %>
        <%= link_to "â¤ï¸Favouriteâ¤ï¸", product_favourites_path(@product), method: :post %>
    <% end %>
<% end %>


<% if can?(:crud, @product) %>
    <%= link_to "Delete", show_product_path(@product.id), method: :delete, data:{confirm: "Do you want to delete this product?"}%>
    <%= link_to "Edit", edit_product_path(@product)%>
<% end %>



<hr/>

<%= form_with(model: [@product, @review], local: true) do |r| %>
    <% if @review.errors.any? %>
        <ul>
            <% @review.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <div>
        <%= r.label :body%>
        <%= r.text_area :body, placeholder: "How did you like this product?" %>
    </div>
    <div>
        <%= r.label :rating%>
        <%= r.text_field :rating, placeholder: "i.e. 1-5" %>
    </div>
    <%= r.submit%>
<% end %>

<hr/>

<% @reviews.each do |review| %>
    <div class="<%= 'hidden-review' if review.hidden %>">
    <h3>Rating: <%= review.rating %></h3>
    <p>
        <%= review.body %>
    </p> 
    <p>Reviewed by: <%= review.user.full_name %></p>
    <small><%= review.likes.count %> people like this</small>
    <% if can? :like, review %>
        <%if review.likes.find_by(user: current_user).present? %>
            <%= link_to "ðŸ‘Ž Un-like", product_review_like_path(review.product_id, review.id, review.likes.find_by(user_id: current_user.id)), method: :delete %>
        <% else %>
                <%= link_to "ðŸ‘ Like", product_review_likes_path(review.product_id, review.id), method: :post %>
        <% end %>
    <% end %>


      <% if can? :crud, review %>
        <%= link_to 'Delete', product_review_path(review.product_id, review.id), method: :delete, data: { confirm: 'Are you sure that you want to delete this review?' } %>
      <% end %>
      <% if can? :crud, @product %>
        <%= link_to "#{review.hidden ? 'Show' : 'Hide' }", toggle_hidden_path(review), method: :patch %>
      <% end %>
      
    </div>
  <% end %>